<!DOCTYPE html>
<html>
<head>
  <title>Thomas Yancey</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'grizzly.png' %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
</head>

  <body>

  <%= yield %>

  </body>

</html>
